@font-face {
  font-family: HKGroteskRegular;
  src: url('/fonts/hk-grotesk/HKGrotesk-Regular.otf');
}

@font-face {
  font-family: HKGroteskBold;
  src: url('/fonts/hk-grotesk/HKGrotesk-Bold.otf');
}

* {
  font-family: 'HKGroteskRegular', inherit;
}

body {
  text-align: center;
  margin: 0 auto 0 auto;
  max-width: 500px;
  box-sizing: border-box;
}

input[type="text"] {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}

li {
  text-align: left;
}

#start-menu {
  margin-left: 10%;
  margin-right: 10%;
}

#start-menu-list {
  column-count: 2;
  column-gap: 4px;
  margin-bottom: 15px;
}

#start-menu-list div {
  display: inline-block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0 0 4px 0;
  cursor: pointer;
  border-radius: 7px;
}

.village-btn {
  width: 100%;
  padding: 0;
}

.village-checkbox {
  width: 100%;
  padding: 7px 0;
  border-radius: 7px;
  text-indent: -8px;
}

.allGames-removed {
  display: none;
}

#lobby-player-form {
  margin-left: 10%;
  margin-right: 10%;
}

#lobby-player-list {
  column-count: 2;
  column-gap: 4px;
  margin-bottom: 15px;
}

#lobby-player-list div {
  display: inline-block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  list-style-type: none;
  background-color: #ccc;
  margin: 0 0 4px 0;
  cursor: pointer;
  border-radius: 7px;
}

#lobby-player-list div:hover {
  background-color: #aaa;
}

#lobby-player-list .current-player {
  color: white;
  background-color: #900;
}

#lobby-player-list .current-player:hover {
  color: white;
  background-color: #b00;
}

#lobby-player-list .active-player {
  color: white;
  background-color: #070;
}

#lobby-player-list .active-player:hover {
  color: white;
  background-color: #090;
}

.player-checkbox {
  width: 100%;
  padding: 5px 0;
  text-indent: -8px;
  border-radius: 7px;
}

#choose-roles-form {
  margin-left: 10%;
  margin-right: 10%;
}

#choose-roles-list {
  column-count: 2;
  column-gap: 4px;
  margin-bottom: 15px;
}

#choose-roles-list div {
  display: inline-block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  list-style-type: none;
  background-color: #ccc;
  margin: 0 0 4px 0;
  cursor: pointer;
  border-radius: 7px;
}

#choose-roles-list div:hover {
  background-color: #aaa;
}

#choose-roles-list .selected-role {
  color: white;
  background-color: #070;
}

#choose-roles-list .selected-role:hover {
  color: white;
  background-color: #090;
}

.role-checkbox {
  width: 100%;
  padding: 5px 0;
  text-indent: -8px;
  border-radius: 7px;
}

input[type="checkbox"] {
  visibility: hidden;
}

#night-player-form {
  margin-left: 10%;
  margin-right: 10%;
}

#night-player-list {
  column-count: 2;
  column-gap: 4px;
  margin-bottom: 15px;
}

#night-player-list div {
  display: inline-block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  list-style-type: none;
  background-color: #ccc;
  margin: 0 0 4px 0;
  cursor: pointer;
  border-radius: 7px;
}

#night-player-list div:hover {
  background-color: #aaa;
}

#night-player-list .voted-player {
  color: white;
  background-color: #070;
}

#night-player-list .voted-player:hover {
  color: white;
  background-color: #090;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 1rem;
}
