@font-face {
  font-family: HKGroteskRegular;
  src: url('/fonts/hk-grotesk/HKGrotesk-Regular.otf');
}

@font-face {
  font-family: HKGroteskBold;
  src: url('/fonts/hk-grotesk/HKGrotesk-Bold.otf');
}

* {
  font-family: 'HKGroteskRegular', inherit;
}

body {
  text-align: center;
  margin: 15% auto 0 auto;
  max-width: 500px;
  box-sizing: border-box;
}

input[type="text"] {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}

li {
  text-align: left;
}

#lobby-player-list {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}

#choose-roles-form {
  margin-left: 10%;
  margin-right: 10%;
}

#choose-roles-list {
  column-count: 2;
  column-gap: 4px;
  margin-bottom: 15px;
}

#choose-roles-list div {
  display: inline-block;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  list-style-type: none;
  background-color: #ccc;
  margin: 0 0 4px 0;
  cursor: pointer;
  border-radius: 7px;
}

#choose-roles-list div:hover {
  background-color: gold;
}

#choose-roles-list .selected-role {
  background-color: lightgreen;
}

#choose-roles-list .selected-role:hover {
  background-color: lightgreen;
}


.role-checkbox {
  width: 100%;
  margin-left: -10px;
  padding: 5px 10px;
  border-radius: 7px;
}

input[type="checkbox"] {
  visibility: hidden;
}

.center-cards {
}

.center-cards > button {
}

.ingame-player-list {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  margin-bottom: 20px;
}
